<div class="news-info-container">

    <img class="news-image" [src]="movie.imgUrl">

    <div class="infor">
        <div class="">
            <span><b>Tên phim</b>: {{movie.name}}</span> 
            <span class="movie-time"><b>Thời lượng</b>: {{movie.time}}</span>
        </div>

        <div class="">
            <p class="movie-description">{{movie.decription}}</p>
        </div>

        <div>
            <div class="show-time-box" *ngFor="let item of movie.showtime">
                <div class="show-time" (click)="onClickShowTime(item)">{{item}}</div>
            </div>

        </div>

        <div class="info_spec" id="dSpec0">
            <div>Địa chỉ:</div>
            <div id="dVClass">{{movie.address}}</div>

        </div>

        <!-- <div class="news-author">{{movie.name}} {{movie.time}} </div>
    <div class="news-description">{{movie.decription}}</div>
    <div class="news-author">{{movie.showtime}}</div> -->
    </div>

</div>