<div class="body-container">
  <div class="image-container">
    <img class="image"
      src="https://m.media-amazon.com/images/M/MV5BNGVjNWI4ZGUtNzE0MS00YTJmLWE0ZDctN2ZiYTk2YmI3NTYyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_.jpg">
  </div>
  <div class="detail-container">
    <div class="title-hearder-container">
      <div class="title-container">
        <span class="name-title">Joker(2018)</span>
        <span class="score-title">6.9</span>
      </div>
      <div class="type">
        <div>PG-13</div>
      </div>
    </div>
    <div class="description-container">
      <span class="duration">1h 36min</span>
      <span class="categories">Adventure, Drama, Family</span>
      <p class="description">In Gotham City, mentally-troubled comedian Arthur Fleck is disregarded and mistreated by society. He then
        embarks on a downward spiral of revolution and bloody crime. This path brings him face-to-face with his
        alter-ego: "The Joker".</p>
    </div>
    <div class="icon-container">
      <div class="favorite-button" role="button">
          <i class="far fa-heart"></i>
      </div>
      <div class="view-detail">
        <div class="view-detail-button">
          View detail
        </div>
      </div>
    </div>
  </div>
</div>