<div *ngIf="data" class="body-container" [style.width]="widthValue">
  <div class="image-container">
    <img class="image"
      [src]="_domSanitizer.bypassSecurityTrustUrl(data.imgUrl)">
    <div class="overlay-container" (click)="onClickOverlay()">
      <span class="overlay-text">{{detailText}} detail</span>
      <i class="fas {{iconText}} fa-2x overlay-icon"></i>
    </div>
  </div>
  <div class="detail-container" [style.left]="leftPosition">
    <div class="title-hearder-container">
      <div class="title-container">
        <span class="name-title">{{data.title}}</span>
        <div class="score-container">
          <i class="star-icon {{icon}}" *ngFor="let icon of starArray"></i>
          <span class="score-title">5.3</span>
        </div>
      </div>
      <div class="type">
        <div class="type-box">
          <span class="type-text">PG-13</span>
        </div>
      </div>
    </div>
    <div class="description-container">
      <span class="duration">{{data.time}}</span>
      <span class="categories">{{data.categories | truncate: 30}}</span>
      <p class="description">{{data.description | truncate: 170}}</p>
    </div>
    <div class="icon-container">
      <div class="favorite-button" role="button">
        <i class="far fa-heart fa-1x icon-fa"></i>
      </div>
      <div class="view-detail">
        <div class="view-detail-button">
          View detail
        </div>
      </div>
    </div>
  </div>
</div>