<div class="carousel">
  <div class="carousel-head">
    <span class="title-header">
      {{title}}
    </span>
  </div>
  <div class="carousel-body">
    <button class="button button-left-arrow" tabindex="-1" (click)="onClickButtonLeft()">
      <i class="fas fa-chevron-left icon"></i>
    </button>
    <div class="film-detail" *ngFor="let item of listShowingFilmOnlines; let index = index">
      <app-film-detail [data]="item"></app-film-detail>
    </div>
    <button class="button button-right-arrow" tabindex="-1" (click)="onClickButtonRight()">
      <i class="fas fa-chevron-right icon"></i>
    </button>
  </div>
</div>