$margin-left: 140px;

.content {
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 50px;
    background-color: #f7f8f9;
    padding: 80px 25px 38px 18px;
    position: relative;
  }
  .label-tab-buyticket{
    
    background-color: #f26b38;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    padding: 12px 26px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .movies {
    margin-bottom: 15px;
  }
  
  .select-movies {
    width: 222px;
  }
  
  .cinemas {
    margin-bottom: 15px;
  }
  
  .form-control {
    margin-bottom: 15px;
    width: 222px;
  }

  .input-date {
    width: 222px;
  }
  
  .search {
    margin-left: $margin-left;
    
  }
 