################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Avaya.Console/DesignTimeBuild
/.vs/Avaya.Console/v15/Server/sqlite3
/.vs/Avaya.Console/v15
/.vs/config
/Client/Avaya.API/bin/Release/netcoreapp2.0
/Client/Avaya.Core/bin/Release/netcoreapp2.0
/Client/Avaya.Domain/bin/Release/netcoreapp2.0
/Client/Avaya.Model/bin/Release/netcoreapp2.0
/Client/Avaya.Service/bin/Release/netcoreapp2.0
/Identity/.vs/Identity.API/v15
/Identity/Identity.API/.vs/Identity.API/DesignTimeBuild
/Identity/Identity.API/.vs/Identity.API/v15
/Identity/Identity.API/Identity.API/obj
/Identity/Identity.API/obj
/Identity/Identity.Core/obj
/Identity/Identity.Domain/obj/Debug/netcoreapp2.2
/Identity/Identity.Domain/obj
/Identity/Identity.Model/obj
/Identity/Identity.Service/obj
/Identity/Identity.API/bin/Debug/netcoreapp2.1
/Identity/.vs
/Identity/Identity.Core/bin/Debug
/Identity/Identity.Domain/bin/Debug
/Identity/Identity.Model/bin/Debug/netcoreapp2.1
/Identity/Identity.Service/bin/Debug/netcoreapp2.1
/Identity/Identity.API/authserver_log.txt
/.vs
/Avaya.API/bin/Debug/netcoreapp2.0/Avaya.API.deps.json
/Avaya.API/bin/Debug/netcoreapp2.0
/Avaya.API/Logs
/Avaya.API/obj
/Avaya.Core/bin/Debug/netcoreapp2.0
/Avaya.Core/obj
/Avaya.Domain/bin/Debug/netcoreapp2.0
/Avaya.Domain/obj
/Avaya.Model/bin/Debug/netcoreapp2.0
/Avaya.Model/obj
/Avaya.Service/bin/Debug/netcoreapp2.0
/Avaya.Service/obj
/WebApp/node_modules
/Identity/Identity/.vs/Identity/v15
/Identity/Identity/Identity/obj
/Identity/AuthServer/.vs/AuthServer
/Identity/AuthServer/AuthServer/bin/Debug/netcoreapp2.1
/Identity/AuthServer/AuthServer/obj
/Identity/AuthServer/AuthServer.Infrastructure/bin/Debug
/Identity/AuthServer/AuthServer.Infrastructure/obj
