$margin-right-icon: 20px;
$margin-left-textbox: 10px;
$margin-top-icon: 3px;

$color-icon: #6C7475;

.title {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  background-color: #6c7475;
  color: white;
  padding: 30px 0;
}

.description{
    margin-top: 10px;
    text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
}

.form-control {
  width: 80%;
}

.email-form {
    margin-left: $margin-left-textbox;
    margin-right: 20px;
    margin-top: 20px;
}

.button-form{
    width: 398px;
    margin-left: 50px;
    margin-right: 50px;
}

.btn{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 179px;
    margin-left: 10px;
    margin-right: 10px;
}

.button-submit{
    background-color: #6495e3;
}

.button-cancel{
    background-color: #E36479;
}

.email-icon{
    margin-right: $margin-right-icon;
    margin-top: $margin-top-icon;
    color: $color-icon;
}