$margin-defaul: 10px;
$border-defaul: 1px dashed black;

.bill-container {
  display: flex;
  flex-direction: column;
  font-family: Khand, Arial Narrow, arial, sans-serif;
  font-style: oblique;
  margin-right: $margin-defaul;
  margin-left: $margin-defaul;
  font-size: 20px;
  .title {
    font-size: 40px;
    text-align: center;
    font-family: monospace;
    width: 100%;
    border-bottom: $border-defaul;
    background-color: firebrick;
    color: darkorange;
  }
}

.bg-color {
  background-color: gold
}

.description-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  .image {
    height: 250px;
    margin-top: $margin-defaul;
    margin-bottom: $margin-defaul;
  }
}

.description-detail-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.detail-container {
  display: flex;
  flex-direction: column;
  border-bottom: $border-defaul;
  border-top: $border-defaul;
  text-align: center;
}

.bill-detail-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.total {
  display: flex;
  flex-direction: row;
  border-bottom: $border-defaul;
  text-align: left;
  justify-content: space-between;
  background-color: darkorange;
}

.button-container {
  display: flex;
  flex-direction: row;
  margin-top: $margin-defaul;
  margin-bottom: $margin-defaul;
  justify-content: space-evenly;
}

.number {
  width: 30px;
}

.product-name {
  width: 60px;
}

.quantity {
  width: 100px;
}

.price {
  width: 0px;
}

.product-total {
  width: 150px;
}

.bill-total{
  width: 300px;
}

.price-total{
  width: 100px;
}

.button-submit{
  background-color: seagreen;
  width: 1000px;
  height: 80px;
  margin-right: 15px;
  font-size: 20px;
} 

.button-cancel{
  width: 1000px;
  height: 80px;
  font-size: 20px;
}

.seat-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.seats{
  margin-left: $margin-defaul;
}