$margin-default: 10px;
$border-default: 1px dashed black;

.bill-container {
  display: flex;
  flex-direction: column;
  font-family: Khand, Arial Narrow, arial, sans-serif;
  font-style: oblique;
  margin-right: $margin-default;
  margin-left: $margin-default;
  font-size: 20px;
  .title {
    
    text-align: center;
    font-family: monospace;
    width: 100%;
    border-bottom: $border-default;
    background-color: firebrick;
    color: darkorange;
  }
}

.bg-color {
  background-color: gold
}

.description-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  .image {
    height: 250px;
    margin-top: $margin-default;
    margin-bottom: $margin-default;
  }
}

.description-detail-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.detail-container {
  display: flex;
  flex-direction: column;
  border-bottom: $border-default;
  border-top: $border-default;
  text-align: center;
}

.bill-detail-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .number {
    width: 30px;
  }
  
  .product-name {
    width: 60px;
  }
  
  .quantity {
    width: 100px;
  }
  
  .price {
    width: 0px;
  }
  
  .product-total {
    width: 150px;
  }
}

.total {
  display: flex;
  flex-direction: row;
  border-bottom: $border-default;
  text-align: left;
  justify-content: space-between;
  background-color: darkorange;
  
  .bill-total{
    width: 300px;
  }
  
  .price-total{
    width: 100px;
  }
}

.button-container {
  display: flex;
  flex-direction: row;
  margin-top: $margin-default;
  margin-bottom: $margin-default;
  justify-content: space-evenly;
}





.button-submit{
  background-color: seagreen;
  width: 1000px;
  height: 80px;
  margin-right: 15px;
  font-size: 20px;
} 

.button-cancel{
  width: 1000px;
  height: 80px;
  font-size: 20px;
}

.seat-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.seats{
  margin-left: $margin-default;
}