.box{
    border: solid 10px #f26b38;
    width: 930px;
    height: 563px;
}
.booking-title {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
    background-color: #f26b38;
    border-color: #f26b38;
    color: #fff;
    padding: 14px;
    
}

.front {
    height: 29px;
    width: 698px;
    display: block;
    background: #dfdfdf;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    margin-bottom: 30px;
    margin-left: 110px;

}

.container{
    display: flex;
    flex-direction: row;    
    margin-left: 313px;
    
}
.seatRowLeft{
    text-align: center;
    height: 20px;
    width: 20px;    
    line-height: 18px;
    margin-bottom: 5px;    
    border: solid 1px #4c4145;    
    margin-right: 10px;
}
.seatRowRight{
    text-align: center;
    height: 20px;
    width: 20px;    
    line-height: 18px;
    margin-bottom: 5px;    
    border: solid 1px #4c4145;    
    margin-left: 10px;
}

.containerCol{
    display: flex;
    flex-direction: column;   
}


.seatCol{
    text-align: center;
    height: 20px;
    width: 20px;    
    line-height: 18px;
    margin-bottom: 5px;   
    background-color: #dbdee1; 
    margin-left: 1.8px;
}

.seat-cinema-container{
    display: flex;
    flex-direction: row;   
    justify-content: center;
    margin-top: 30px;
}
.seat-cinema{
    margin-left: 10px;
}

.seatCol:hover{
    background-color: green;
}