<div class='home-logo'>
  <div class = 'name-logo'>
  POTATO MOVIE & TV-NEWS
  </div>
</div>
<div class='article-home-news'>
  <div *ngIf = "show">
      <div class='main-section'>
          <div class= 'article-title'>
             LATEST NEWS
          </div>
          <div *ngFor="let item of listclip"> 
              <div class="browse-clip">
                  <a class="image" href="#"(click)="logicChange(item.id)" > <img src={{item.photoUrl}} width ={{item.photoWidth}} height={{item.photoHeight}}> </a>
                  <div class="clip-info">
                    <h3> {{item.headline}} </h3>
                    <div class='clip-descript'>
                        {{item.description}}
                      </div>
                      <div class="article-tag">
                          <a href="#">{{item.author}}</a> - <a href="#">{{ item.publishDate | date }}</a>
                        </div>
                      </div>
                  </div>      
              </div>     
            </div>
  </div>
  <div *ngIf ="!show">
    <main-news-section [newsID]="newsId"></main-news-section>
  </div>
  <div class='sidenews-section'>
    <app-side-news-section></app-side-news-section>   
  </div>
</div>
