.image {
  width: 1300px;
  position: absolute;
  bottom: -100px;
}

.body-detail {
  position: relative;
  height: 500px;
  width: 1300px;
  overflow: hidden;
}

.info {
  position: absolute;
  height: 170px;
  width: 1000px;
  background-color: black;
  opacity: 0.5;
  bottom: 0;
  left: 0;
  right: 0;
}

.info-detail {
  margin-left: 20px;
}

.title {
  color: white;
}
