.payment-container {
  width: 100%;
  background-color: #edf2f9;
  padding: 10px;
  border:2px solid #edf2f9;
  margin-bottom: 15px;
  border-radius: 1rem;
  
}
.total{
  margin-left: 35px;
  i{
    font-size: 25px;
  }
}

.movie-image {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  // width: 100%;

  img {
    width: 300px;
    height: 250px;
  }
}

.movie-info-container {
  
  // h2 {
  //   margin-top: 10px;
  //   font-size: 16px;
  //   line-height: 20px;
  //   color: #43464b;
  //   font-weight: bold;
  //   text-transform: uppercase;
  //   overflow: hidden;
  //   white-space: nowrap;
  // }
}

.ticket-info {
  margin-top: 15px;
  p {
    border-bottom: 1px dotted black;
    padding: 10px 0;
  }
  h2 {
    font-size: 20px;
    margin-top: 30px;
  }
}

.booking-proceed {
  text-align: center;
  cursor: pointer;
  .proceed-button {
    border-radius: .5rem;
    width: 95%;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    background-color: #12263f;
    padding: 15px;
    margin-top: 15px;
    line-height: 1.2;
  }
  div:hover{
    font-size: 20px;
  }
}

@media screen and (max-width: 1095px) {
  .payment-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .movie-info-container{
   
    font-size: 25px;
  }
}