<div class="payment-container">
  <div class="movie-image">
    <img class="image" src="{{item.picture}}">
  </div>
  <div class="movie-info-container">
    <h3>
      {{item.name}}
    </h3>
    <p>
      <b>Rạp: </b>{{item.address}}
    </p>
    <p>
      <b>Suất Chiếu: </b>{{item.showtime}}
    </p>
    <p>
      <b>Ghế: </b>{{seatnumber}}
    </p>
  </div>
</div>

<div class="payment-container">
  <div class="total">
    <i class="fas fa-money-check"> {{completedPrice | number}} VNĐ</i>
  </div>
</div>

<div class="booking-proceed">
  <div class="proceed-button">
    <div *ngIf="paymentStatus == 1" (click)="onClickContinue()">
      TIẾP TỤC
    </div>
    <div *ngIf="paymentStatus == 2" (click)="onClickCheckOut()">
      THANH TOÁN
    </div>
  </div>
</div>