.booking-view {
  width: 900px;
}

p {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  color: #283e59;
  background-color: #f6c343;
  padding: 10px;
  border-radius: 1rem;
}
.booking-body{

}

.corn-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
  padding-left: 1px;
  margin-bottom: 1px;
  background-color: #c7d6ec;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.375rem;

  .first-column-text {
    flex-grow: 1.1;
  }

  .second-column-text {
    flex-grow: 1;
  }
}

.combocorn-container {
  display: flex;
  padding-left: 1px;
  margin-bottom: 5px;
  background-color: #edf2f9;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.375rem;
  font-weight: 700;
}

.input-field {
  padding-right: 35px;
}

.first-column-item {
  width: 550px;
}

.second-column-item {
  width: 520px;
}

input {
  border-radius: 0.375rem;
  text-align: center;
  width: 60px;
  background-color: #edf2f9;
  color: #212529;
}



@media only screen and (max-width: 1080px) {
  .booking-view {
    width: 100%;
  }
}
@media only screen and (max-width: 920px) {
  .booking-view {
    width: 100%;
  }
}
@media only screen and (max-width: 640px) {
  .booking-view {
    width: 100%;
  }
}
