.corn-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
  padding-left: 10px;
  margin-bottom: 10px;
  background-color: rgb(231, 229, 229);
  box-shadow: 5px 5px rgb(124, 117, 117);
  font-family: Arial, Helvetica, sans-serif;
}

.first-column-text {
  flex-grow: 1.1;
}

.second-column-text {
  flex-grow: 1;
}

.combocorn-container {
  display: flex;
  padding-left: 10px;
  flex-direction: row;
  max-width: 100%;
  margin-bottom: 5px;
  background-color: rgb(248, 248, 245);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  
}

.input-field{
  font-weight: 700;
  padding-right: 10px;
}

.first-column-item {
 width: 550px;
}

.second-column-item {
  width: 520px;
}

input {
  text-align: center;
  width: 80px;
}

.combo-container{
  box-shadow: 5px 3px rgb(105, 100, 100);

}

.img-combo {
  width: 100px;
}

p {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  color: rgb(197, 24, 24);
  background-color: rgb(252, 242, 224);
  padding: 10px;
  box-shadow: 5px 10px rgb(255, 156, 42);
}

.decorative{
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
  //height: 1px;
  margin-top: 10px;
  margin-bottom: 6px;
  //border-bottom: 1px dotted rgb(80, 80, 80);

  

}