<div class="box">
  <h2 class="seat-title">Chọn ghế:</h2>
  <div>
    <span class="screen">Màn hình</span>
  </div>

  <div class="seat-body">
    <div class="seat-container-row">
      <div class="seat" [class.seat-booking]="!item.isBooking" *ngFor="let item of listSeat1"
        [style.background-color]="item.color" (click)="onClick(item)">
        {{item.name}}
      </div>
    </div>
    <div class="seat-container-row">
      <div class="seat" [class.seat-booking]="!item.isBooking" *ngFor="let item of listSeat2"
        [style.background-color]="item.color" (click)="onClick(item)">
        {{item.name}}
      </div>
    </div>
    <div class="seat-container-row">
      <div class="seat" [class.seat-booking]="!item.isBooking" *ngFor="let item of listSeat3"
        [style.background-color]="item.color" (click)="onClick(item)">
        {{item.name}}
      </div>
    </div>
    <div class="seat-container-row">
      <div class="seat" [class.seat-booking]="!item.isBooking" *ngFor="let item of listSeat4"
        [style.background-color]="item.color" (click)="onClick(item)">
        {{item.name}}
      </div>
    </div>
    <div class="seat-container-row">
      <div class="seat" [class.seat-booking]="!item.isBooking" *ngFor="let item of listSeat5"
        [style.background-color]="item.color" (click)="onClick(item)">
        {{item.name}}
      </div>
    </div>
  </div>
  <br>