.box {
  border: solid 10px #f26b38;
  width: 930px;
  height: 563px;
}

.booking-title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
  background-color: #f26b38;
  border-color: #f26b38;
  color: #fff;
  padding: 14px;
}

.front {
  height: 29px;
  width: 698px;
  display: block;
  background: #dfdfdf;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
  margin-left: 110px;
}

.container {
  display: flex;
  flex-direction: row;
  margin-left: 313px;
}

.seat-container {
  display: flex;
  flex-wrap: wrap;
}

.seat-cinema {
  margin-left: 10px;
}

.seat-booking {
  cursor: pointer;
}

// .seat-booking:hover {
//   background-color: green !important;
// }

.seat {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  margin-left: 15px;
  margin-top: 15px;
}

.seat-body {
  display: flex;
  width: 670px;
  height: 400px;
  border: 1px solid red;
  margin-left: 125px;
}

.colum-container {
  display: flex;
}
