<div class = "news-section">
  <div class = "main-news-section">
    <main-news-section></main-news-section>
    </div>
    <div class = "side-news-section">
      <div class ="full-size-news">
        <div class='sidebar-brandlink'>
            ON POTATO.COM
        </div>
          <app-side-news-section></app-side-news-section>    
      </div>
      <div class ="half-size-news">
          <app-side-news-half-size></app-side-news-half-size>
          <app-side-news-half-size></app-side-news-half-size>
      </div>
    </div>
   
</div>
