.body-info {
  width: 75%;
  height: 25%;
  left: 25%;
  // min-height: 23%;
  position: absolute;

  font-family: Arial, sans-serif;
}

.image {
  height: 226px;
  width: 100%;
  max-width: 130px;
  border: 2px solid black;
}

.container {
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  border: 1px solid #d31702;
  background-color: #e6e6e6;
  border-radius: 1.5rem;
  //min-width: 50%;
   max-width: 700px;
  //padding: 1rem;
  //height: 260px;
  position: relative;
  //margin-bottom: 10px;
}

.time-format {
  font-size: 16px;
  margin-top: 9px;
  color: #505f75;
}

.description {
  color: #231f20;
  font-style: italic;
  font-size: 16px;
}

.name {
  font-weight: bold;
  font-size: 24px;
  
}

.show-time-container {
  display: flex;
  flex-direction: row;
  margin-top: 13px;
}

.show-time {
  text-align: center;
  font-weight: bold;
}

.show-time-box:hover {
  cursor: pointer;
  color: #fff;
  background-color: #12263f;
}

.show-time-box {
  border: solid #5d6c7e 2px;
  border-radius: 0.25rem;
  width: 70px;
  height: 30px;
}

.show-time-box:not(:first-child) {
  margin-left: 10px;
}

.date {
  margin-top: 6px;
  color: #505f75;
}

.author {
  margin-top: 13px;
  font-size: 18px;
  color: #c70039;
}

.address {
  margin-top: 13px;
}
