<div class="container">
  <img class="image" [src]="_domSanitizer.bypassSecurityTrustUrl(item.photoUrl)" width={{item.photoWidth}}
    height={{item.photoHeight}}>
  <div class="body-info">
    <div class="tilte">
      <h3>{{item.headline}}</h3>
    </div>
    <div class="description">{{item.description | truncate : 150}}</div>
    <div *ngIf="type === 1" class="time-format">{{item.time}} phút - 2D - 16+</div>
    <div *ngIf="type === 1" class="show-time-container">
      <div class="show-time-box" *ngFor="let showtime of item.showtime">
        <div class="show-time" (click)="onClickShowTime(item)">{{showtime}}</div>
      </div>
    </div>
    <div *ngIf="type === 2" class="tag">
      <a>
        {{item.author}} - {{item.createdDate | date}}
      </a>
    </div>