
<div *ngIf="type ===1">
  <div class="container">
    <img class="image" [src]="_domSanitizer.bypassSecurityTrustUrl(item.picture)">
    <div class="body-info">
      <div class="tilte"><span class="name">{{item.name}}</span></div>
      <div class="description">{{item.description | truncate : 150}}</div>
      <div *ngIf="type === 1" class="time-format">{{item.duration}} phút - 2D - 16+</div>
      <div *ngIf="type === 1" class="show-time-container">
        <div class="show-time-box" *ngFor="let time of item.showTime">
          <div class="show-time" (click)="onClickShowTime(item, time)">{{time.timeStart}}</div>
        </div>
      </div>
      <div class="address">{{item.address}}</div>
    </div>
  </div>
</div>
<div *ngIf="type === 2">
  <div class="container-2">
    <img class="image-2" [src]="_domSanitizer.bypassSecurityTrustUrl(item.photoUrl)" width={{item.photoWidth}}
      height={{item.photoHeight}}>
    <div class="body-info-2">
      <div class="tilte-2">
        <h3>{{item.headline}}</h3>
      </div>
      <div class="description-2">{{item.description | truncate : 150}}</div>
      <div class="tag">
        <a>
          {{item.author}} - {{item.createdDate | date}}
        </a>
      </div>
    </div>
  </div>
</div>