.body-info {
  width: 60%;
  margin-left: 30px;
  font-family: helvetica,clean,sans-serif;
}


.container {
  position: relative;
  flex-direction: row;
  cursor: pointer;
  display: flex;
  margin-bottom: 30px;
  image{
      position:relative
  }
}

.time-format{

}

.description{
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color:white;
}

.tilte {
     h3{
         font-size: 100%;
         font-weight: bold;
         line-height: 32px;
         font-size: 28px;
         font-family: Arial,arial,sans-serif;
         color:white;
     }
}

.show-time-container {
 
}

.show-time {

}

.show-time-box:hover {

}

.show-time-box {

}

.show-time-box:not(:first-child) {
  margin-left: 10px;
}

.tag{
  width: 85%;
  font-family: Arial,arial,sans-serif;
  text-transform: capitalize;

  a{
      color: #ff8902;
      font-weight: 600;
      text-decoration: underline;
      -webkit-text-decoration-color: #dba433;
      text-decoration-color: #dba433;
  }

}
