.main-view {
    background-image: url('https://resizeimage.net/mypic/epRtoSFuTrgAFH8V/fqKMy/josefin-ws5yjfjycny-unsplash.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }