.payment-view-wrapper{
margin-top: 30px;
width: 1300px;
height: 600px;

}

.picking-side{
float: left;
width: 890px;
padding-top: 20px;
padding-bottom: 20px;

}

.payment-side{
 float: right;   
padding-top:20px;
}
