.payment-view-wrapper {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  //margin-top: 30px;
  // width: 1300px;
  // height: 700px;
  margin-bottom:30px;
}

.picking-side {
  // float: left;
  width: 890px;
  // height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.payment-side {
  // float: right;
  padding-top: 20px;
}
