<div>
  <app-drop-down [items]="listHeaderChildrens" [title]="titleMenu1"></app-drop-down>
  <app-drop-down [items]="listMenus" [title]="titleMenu2"></app-drop-down>
</div>
<div class="topnav">
  <a class="active" href="#home">moveɘk</a>
  <div class="search-container">
    <input type="text" placeholder="Search.." [(ngModel)]="searchText" name="search-value">
    <button type="submit" (click)="onSearch()">
      <i class="fa fa-search"></i>
    </button>
    <i class="fas fa-user log-in-circle log-in-button" title="Log In Pls"></i>
  </div>
</div>