$margin-left: 10px;
$text-color: black;

.image {
  width: 230px;
  margin-top: $margin-left;
  margin-left: $margin-left;
  border-radius: 10px;
}

.body-info {
  width: 250px;
  height: 440px;
  border: 1px white solid;
  border-radius: 20px;
  background-color: rgb(233, 229, 229);
}

.title {
  font-weight: 700;
  font-family: Vaud, Helvetica Neue, sans-serif;
  font-size: 14px;
  margin-top: 7px;
  letter-spacing: 0.5px;
  margin-left: $margin-left;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: $margin-left;
}

.info {
  margin-top: 10px;
}

.text{
  color: $text-color;
}

.time {
  font-weight: 400;
  font-size: 11px;
  font-family: Vaud, Helvetica Neue, sans-serif;
}

.category {
  font-weight: 400;
  font-size: 11px;
  font-family: Vaud, Helvetica Neue, sans-serif;
}

.type {
  height: 25px;
  line-height: 12px;
  font-size: 11px;
  background-color: hsla(0, 2%, 37%, 0.2);
  border-radius: 4px;
  width: 56px;
  text-align: center;
  margin-right: $margin-left;
}

p {
  margin-top: 5px;
}

.image-container:hover .image {
  opacity: 0.3;
  cursor: pointer;
}

.image-container:hover .middle {
  opacity: 1;
  cursor: pointer;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  margin-left: 100px;
  margin-top: -230px;
}

.icon-play{
    color: rgb(49, 46, 46);
}
