.payment-view-wrapper {
  //margin-top: 30px;
  width: 1300px;
  height: 700px;
}

.picking-side {
  float: left;
  width: 890px;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.payment-side {
  float: right;
  padding-top: 20px;
}
