.partner{
    text-align: right;
}

#partner{
    
    text-align: center;
}

.image{
    margin-top: 30px;
    height: 50px;
}

.footer-container{
    border: 1px solid black;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
}