<div class="row">
  <div class="footer-company-image">
    <img src="http://localhost:59239/resources/images/footer-logo.png" class="image">
  </div>
  <div class="footer-company-contact small text-muted" id="contact">

  </div>
  <div class="footer-company-information" id="information">
    <div class="small text-muted">
      <strong>CÔNG TY TNHH Một Thành Viên</strong>
      <br>
      <a href="">Về chúng tôi</a>
      | <a href="">Chính sách &amp; Thỏa thuận</a>
      | <a href="">Hỗ trợ</a>
      | <a href="">Liên hệ</a>
      <br>
      <strong>HOTLINE:</strong>
      0947777414
      - 0287777414
    </div>
  </div>
  <div class="footer-company-partner text-muted">
    <strong>Đối tác:</strong>

    <div class="image-company-partner">
      <a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a>
      <a href="https://www.youtube.com/?gl=VN" target="_blank" class="fab fa-youtube"></a>
      <a href="https://twitter.com/?lang=vi" target="_blank" class="fab fa-twitter"></a>
      <a href="https://www.instagram.com/" target="_blank" class="fab fa-instagram"></a>
    </div>
  </div>
</div>