<div class="article">
  <div class ="article-header">
    <div class="article-title">
        {{detailNews.headline}}     
    </div>
    <div class="article-info">
      BY <a href="#">{{detailNews.author}}</a>
      - ON {{detailNews.publishDate | date }}
    </div>
  </div>
  <div class="article-body">
  <img src= {{detailNews.listImage[3].photoUrl}}>
  <p>
      {{detailNews.text}}
  </p>
  </div>
  <div class="article-tag">
    <strong>
      TAGS:
    </strong>
    <a href="#">Bà Già</a>,<a href="#">Ông Già</a>
  </div>
</div>
