.news-container{
    margin-top: 30px;
    width: 1300px;
    position: relative;
  min-height: 100vh;
}

.main-news{
    float: left;
    width: 800px;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 120px;
    margin-left: 120px;
}

.side-news{
    float: right;   
    padding-top:20px;
}